<nav>
  <div class="logo">
    <%= link_to "Wikinimous", articles_path %>
  </div>
  <div class="create-btn">
    <%= link_to "New Article", new_article_path(@article) %>
  </div>
<nav>
<hr>
<%= form_for(@article) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>
<hr>
<%= link_to "Back", articles_path %>