<nav>
  <div class="logo">
    <%= link_to "Wikinimous", articles_path %>
  </div>
  <div class="create-btn">
    <%= link_to "New Article", new_article_path(@article) %>
  </div>
<nav>
<hr>
<%= link_to "🔪 Edit this task", edit_task_path(@task) %>
<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<hr>
<%= link_to "Back to list", tasks_path %>